@import '../../styles/MainTheme.scss';

.container{
    background-color: #D3D1D1;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2rem;
    
   

    .copyright{
        border-top: solid 1px grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        padding-right: 30px;

        p{
            font-size: 13px;
            display: flex;
            align-items: center;
            width: 10%;
            justify-content: space-evenly;
            
        }
    }

    .headers{
        display: flex;
        justify-content: space-evenly;
        padding: 3rem;

        div{
            &:nth-child(5){
                ul{
                    display: flex;
                    li{
                        margin-right: 17px;

                        &:nth-child(1):hover{
                            color: #4867AA;
                        }
                        &:nth-child(2):hover{
                            color: #1DA1F2;
                        }
                        &:nth-child(3):hover{
                            color: #E74E60;
                        }
                        &:nth-child(4):hover{
                            color: #FE0000;
                        }
                    }
                    
                }
                .email{
                    font-size: 14px;
                    margin-top: 1rem;

                    p{
                        margin-bottom: 1rem;
                    }
                   .input{
                       display: flex;
                       width: 10rem;
                       button{
                           background-color: $main-theme-color;
                           color: whitesmoke;
                           cursor: pointer;
                       }

                   }
                    
                }
            }

            ul{
                list-style: none;
                margin-top: 16px;

                li{
                    margin-bottom: 8px;
                    font-size: 14px;
                    position: relative;
                    &:hover{
                        cursor: pointer;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: $logoColor;
                        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
                      }
                      @media (hover: hover) and (pointer: fine) {
                        &:hover::before{
                          left: 0;
                          right: auto;
                          width: 100%;
                        }
                      }
                }

                
            }
        }
    }
}
@media screen and (max-width:950px){

    .container{
        .copyright{
            justify-content: space-evenly;
            padding: 0;
            padding-right: 0;

            p{
                font-size: 12px;
                width: 25%;    
            }
            section{
                width: 130px;
            }
            
        }
    
        .headers{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            div{
                width: 50%;
                border-bottom: 1px solid black;
                &:nth-child(5){
                    margin-bottom: 10px;
                }
            }
        }
    }

}