@import '../../styles/MainTheme.scss';

.container{
    width: 50%;

    .main{
        display: flex;
        align-items: center;
        box-sizing: border-box;
    
        .searchBar{
            width: 100%;
            height: 46px;
            padding: 5px;
            font-size: 15px;

            &:focus{
                background-color: #D3D1D1;
                
                
            }
          }
    
        .searchBtn{
            height: 46px;
            padding: 10px;
            font-size: 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: $main-theme-color;
            color: white;
        }  
    }

    .searchResults{
        position: absolute;
        z-index: 2;

        ul{
            list-style: none;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
            margin-top: 5px;
            
            li{
                border-bottom: 1px solid grey;
                padding: 2rem;
                font-weight: lighter;

                &:hover{
                    background-color: $main-theme-color;
                    color: white;
                    cursor: pointer;
                }
            }

        }
        
    }
    
}
.cartItems{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: rgb(38, 105, 38);

    label{
      transition: .2s;

      &:hover{
        transform: scale(1.5);
        cursor: pointer;
       }
       &:nth-child(2){
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(202, 42, 42);
          transition: .2s;
      
          &:hover{
          color: red;
          transform: scale(1.7);
      }
      &:active{
          color: red;
          transform: scale(1.1);
      }
      }
    } 
  }
@media screen and (max-width:950px){
    .container{
        width: 100%;
    }
}
