@import '../styles/MainTheme.scss';

.homeMain{
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
        div,a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            height: 20rem;
            width: 45%;
            margin-bottom: 2rem;
            transition: .2s;

            p{
            color: black;
            font-size: 20px;
            background-color: white;border-radius: 6px;box-shadow: 0px 0px 0px 2px black;
            padding: 5px;
            }
            
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
    
            &:nth-child(1){
                background-image: url("https://media.istockphoto.com/photos/shopping-online-concept-parcel-or-paper-cartons-with-a-shopping-cart-picture-id1249219777?b=1&k=20&m=1249219777&s=170667a&w=0&h=0dXNU-fjD9aOMmrvlppQhJ9gOqnW9dslKFdYLQN9rnk=");
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(2){
                background-image: url("https://images.unsplash.com/flagged/photo-1568004614679-c938da0922fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmd8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(3){
                background-image: url("https://images.unsplash.com/photo-1509395062183-67c5ad6faff9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60");
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(4){
                background-image: url("https://media.istockphoto.com/photos/-picture-id871889004?b=1&k=20&m=871889004&s=170667a&w=0&h=eQhlr4xZ63tVgOx6C2n5cNIseMoeH_uniZ9aVW8KUfI=");
                background-repeat: no-repeat;
                background-size: cover;
                section{
                    display: flex;
                    margin-top: 1rem;

                    input{
                        background-color: rgb(235, 233, 233);
                        &:focus{
                            background-color: white;
                        }
                    }
                    button{
                        background-color: $main-theme-color;
                        color: white;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
